<h1>Lista de tarefas</h1>

<section>
  <form name="task-form" [formGroup]="applyForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Título da tarefa</mat-label>
      <input
        type="text"
        matInput
        placeholder="Pick one"
        formControlName="task"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nome do responsável</mat-label>
      <input
        type="text"
        matInput
        placeholder="Pick one"
        formControlName="responsible"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input
        type="text"
        matInput
        placeholder="Pick one"
        formControlName="cpf"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        formControlName="dueDate"
        [matDatepicker]="datePicker"
        (click)="datePicker.open()"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <button mat-button type="submit">ADICIONAR</button>
  </form>
</section>

<section>
  <app-tarefa-lista [dataSource]="dataSource"></app-tarefa-lista>
</section>
