section {
  min-width: 1000px;
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

button.mat-button {
  background-color: #4caf50;
  color: white;
  height: 63px;
}
