section {
  min-width: 1000px;
}

form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

button.mat-button {
  background-color: #4caf50;
  color: white;
  height: 63px;
}

footer {
  height: 100px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #4caf50;

  margin-left: 8px;
}

a:hover {
  opacity: 0.8;
}
