// English:
/* Since Material UI only accepts full color range to use a specific color, i used this to set of colors to utilize the palette given by the Figma project that is:
- Primary: #FEFEFD
- Secondary: #E0E0E0
- Success: #C3F7D6
- Info: #D4ECFF
- Warn: #FEECED
*/

// Português:
/* Como o Material UI apenas aceita utilizar ranges completos de cores como definição das paletas, eu utilizei os sets de cores abaixo para poder aplciar as que foram me repassadas do projeto no Figma:
- Primária: #FEFEFD
- Secundária: #E0E0E0
- Sucesso: #C3F7D6
- Informação: #D4ECFF
- Aviso: #FEECED
*/

$primary500: (
  50: #ffffff,
  100: #fffffe,
  200: #fffffe,
  300: #fefefe,
  400: #fefefd,
  500: #fefefd,
  600: #fefefd,
  700: #fefefc,
  800: #fefefc,
  900: #fdfdfc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$success500: (
  50: #f8fefa,
  100: #edfdf3,
  200: #e1fbeb,
  300: #d5f9e2,
  400: #ccf8dc,
  500: #c3f7d6,
  600: #bdf6d1,
  700: #b5f5cc,
  800: #aef3c6,
  900: #a1f1bc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn500: (
  50: #fffdfd,
  100: #fff9fa,
  200: #fff6f6,
  300: #fef2f2,
  400: #feeff0,
  500: #feeced,
  600: #feeaeb,
  700: #fee7e8,
  800: #fee4e5,
  900: #fddfe0,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$info500: (
  50: #fafdff,
  100: #f2f9ff,
  200: #eaf6ff,
  300: #e1f2ff,
  400: #daefff,
  500: #d4ecff,
  600: #cfeaff,
  700: #c9e7ff,
  800: #c3e4ff,
  900: #b9dfff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
